link(rel='stylesheet', href='/stylesheets/appointment.css')
h4.appointment-heading My Appoinments
.appointments-div    
    .appointment
        .date 22-05-2020
        .time 10.00 AM
        .name Dr. Balaji Krishnan
        .status Scheduled