link(rel='stylesheet', href='/stylesheets/bookslot.css')

h6 Choose any slot to confirm.
.calenderslotdiv
    .calenderhead
        .datediv
            .dateslotdiv
                .day Mon
                .date Nov 11
            .timeslotdiv
                .timeslot 2:45 pm
                .timeslot 4:00 pm
                .timeslot 4:15 pm
                .timeslot 2:45 pm
                .timeslot 5:45 pm 
        .datediv
            .dateslotdiv
                .day Tue
                .date Nov 12
            .timeslotdiv
                .timeslot 2:45 pm
                .timeslot 4:00 pm
                .timeslot 4:15 pm
                .timeslot 2:45 pm
                .timeslot 5:45 pm 
        .datediv
            .dateslotdiv
                .day Wed
                .date Nov 13
            .timeslotdiv
                .timeslot 2:45 pm
                .timeslot 4:00 pm
                .timeslot 4:15 pm
                .timeslot 2:45 pm
                .timeslot 5:45 pm 
        .datediv
            .dateslotdiv
                .day Thu
                .date Nov 14
            .timeslotdiv
                .timeslot 2:45 pm
                .timeslot 4:00 pm
                .timeslot 4:15 pm
                .timeslot 2:45 pm
                .timeslot 5:45 pm 
        .datediv
            .dateslotdiv
                .day Fri
                .date Nov 15
            .timeslotdiv
                .timeslot 2:45 pm
                .timeslot 4:00 pm
                .timeslot 4:15 pm
                .timeslot 2:45 pm
                .timeslot 5:45 pm          
        