link(rel='stylesheet', href='/stylesheets/conferencestart.css')
h4.conferencestart-heading Book Appointment / Start Conference
hr
.available-div
    .doctor-info
        p.name
          | Dr. Balaji Krishnan
        p.desc
            | M.B.B.S., M.D.(General Medicine),D.N.B.(Nephrology)
    .avail-time-div
        p.time
          img.available-time-icon(src='https://cdn3.iconfinder.com/data/icons/flat-design-hands-icons/128/45-512.png' alt='')
          | 12:00 PM to 02:00 PM

    .available-blink-div
        .blink           
    .timer-div
        p.timespenttxt Current Time Spent
        p.timer 00:03:18
        div(id="requestButton")


