link(rel='stylesheet', href='/stylesheets/conferencevideo.css')
.video-div
    .out-video-div
        video(class="embed-responsive-item" id="peerVideo" muted)
    .in-video-div
        #peerDiv
    button(type="submit",id="userTypeSubmit", style="display:none") submit

