link(rel='stylesheet', href='/stylesheets/conferencestart.css')
h4.conferencestart-heading Book Appointment / Start Conference
hr
.available-div
    .timer-div
        p.timespenttxt Current Time Spent
        p.timer 00:03:18
        div(id="disconnectButton")
            span#myPopup.popuptext A Simple Popup!    


