include layout
link(rel='stylesheet', href='/stylesheets/main.css')
include header
.row.no-gutters
  .col-md-4.no-gutters
    .leftside
      include available
  .col-md-8.no-gutters
    .rightside
      include appointments