doctype html

html

  head

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    div(class="container-fluid")

        //- div(id="showUserId")

        div(class="row h-10 w-100")

          div(class="col-12 col-sm-6 d-flex justify-content-center", id="getUserDetail")

            //- button(type="submit",id="userTypeSubmit", style="display:none") submit


          //- div(id="disconnet")


          //- div(class="col-12 col-sm-6 d-flex justify-content-center", id='setUserDetail')

            //- div(id="user-list")

        //- div(class="row h-90 w-100")

        //-     div(class="col-12 col-sm-6 d-flex justify-content-center")

        //-         div(class="embed-responsive embed-responsive-16by9")

        //-             video(class="embed-responsive-item" id="peerVideo" muted)



        //-     div(class="col-12 col-sm-6 d-flex justify-content-center" id="anotherScreen")

        //-         div(id="peerDiv" class="embed-responsive embed-responsive-16by9")
